<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
        <img src="https://static.vecteezy.com/system/resources/previews/000/595/164/large_2x/vector-object-and-icons-for-sport-label-gym-badge-fitness-logo-design.jpg" id="icon" alt="User Icon" />
    </div>
    <form>
        <input type="text" [(ngModel)]="objUser.email" id="login" class="fadeIn second" name="login" placeholder="Correo">
        <input type="password" [(ngModel)]="objUser.password" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" (click)="onSubmit()" class="fadeIn fourth" value="Log In">
    </form>
    </div>
</div>